@model ComicRating.Models.Series

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Series</legend>

    <div class="display-label">publisher</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.publisher.name)
    </div>

    <div class="display-label">name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">max_issue</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.max_issue)
    </div>

    <div class="display-label">start_year</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.start_year)
    </div>

    <div class="display-label">volume</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.volume)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
