@model IEnumerable<ComicRating.Models.Series>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            publisher
        </th>
        <th>
            name
        </th>
        <th>
            max_issue
        </th>
        <th>
            start_year
        </th>
        <th>
            volume
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.publisher.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.max_issue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.start_year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.volume)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SeriesID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SeriesID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SeriesID })
        </td>
    </tr>
}

</table>
