<h3>Browser Information</h3>
<p>
Agent :: @Request.UserAgent <br />
Referal :: @Request.UrlReferrer <br />
Platform :: @Request.Browser.Platform <br />
Browser Version :: @Request.Browser.Version <br />
ECMA Script :: @Request.Browser.EcmaScriptVersion
</p>