@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    @Html.ActionLink("Browse All The Things","All","Browse")<br />
    @Html.ActionLink("Browse Publishers", "Publishers", "Browse")<br />
    @Html.ActionLink("Issues Manager (requires Admin)", "Index", "IssuesManager")<br />
    @Html.ActionLink("Series Manager (requires Admin)", "Index", "SeriesManager")<br />
    @Html.ActionLink("Ratings", "Index", "Ratings")<br />
    @Html.ActionLink("Browser Settings", "BrowserAndSettings")
</p>
