@model ComicRating.Models.Rating

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Rating</legend>

    <div class="display-label">issue</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.issue.title)
    </div>

    <div class="display-label">overall</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.overall)
    </div>

    <div class="display-label">art</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.art)
    </div>

    <div class="display-label">story</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.story)
    </div>

    <div class="display-label">user</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.user)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
