@model IEnumerable<ComicRating.Models.Rating>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            issue
        </th>
        <th>
            overall
        </th>
        <th>
            art
        </th>
        <th>
            story
        </th>
        <th>
            user
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.issue.series.name)
            @Html.DisplayFor(modelItem => item.issue.number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.overall)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.art)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.story)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RatingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RatingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RatingID })
        </td>
    </tr>
}

</table>
